*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --bar-width:50px;
    --bar-height:8px;
    --humburger-gap:6px;
    --forebackground:#333;
    --bachground:white;
    --hamburger-margin:2px;
    --animation-timing-function:200ms ease-in-out;
    --hamberger-height:calc(var(--bar-height) * 3 + var(--humburger-gap)*2);
}
.hamburger-menu::after,
.hamburger-menu::before,
.hamburger-menu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--forebackground);
    border-radius: 500px;
    transition: opacity var(--animation-timing-function), width var(--animation-timing-function);
}
.hamburger-menu{
    --x-width:calc(var(--hamberger-height)*1.414);
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: var(--humburger-gap);
    width: max-content;
    position: fixed;
    top:var(--hamburger-margin);
    right:var(--hamburger-margin) ;

}
.hamburger-menu input{
    appearance: none;
    padding: 0;
    margin:0;
    outline: none;
    pointer-events: none;
}
.hamburger-menu input:checked {
    transform: rotate(45deg) translate(5px,5px);
    background-color: red;
    opacity: 0;
    width: 0;
}
.hamburger-menu:has(input:checked)::before{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/2 + var(--humburger-gap)) ;
}
.hamburger-menu:has(input:checked)::after{
    rotate:-45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/-2 - var(--humburger-gap)) ;
}
    


